.header{
    display: flex;
    width: 100vw;
    background-color:rgb(158, 147, 240);
    padding: 0.7rem ;
}
.header h2{
    color: rgb(240, 238, 247);
    margin: 0.5rem 5%;
}
.header input{
    width: 60%;
}
.header button{
    background-color: rgb(184, 177, 238);
    width: 7%;
}
.center {
    display: flex;
}
.center section{
    background-color:rgb(247, 244, 241);
    width: 20%;
}
.center section p{
    margin: 0.5rem;
    padding: 0.3rem 0.5rem;
}
.center section button{
    margin: 0.5rem;
    padding: 0.3rem 0.5rem;
    width: 90%; 
}

.center .view_field{
    width: 80%;
    background-color: white;
}
.center .view_field .view_header{
    margin: 0.5rem 0.8rem;
    display: flex;
    justify-content: space-around;
    color:lightgray;
}
.center .view_field .messages{
    
}


