.message{
    display: flex;
    margin: 0.2rem 0.5rem;
    padding: 0;
}
.message .id{
    font-weight: 500;
    margin: 0 1rem;
}
.message .text{
    font-weight: 500;
    margin: 0 1rem;
}
.message .editor{
    color: lightgray;
    margin: 0 1rem;
    font-weight: 0;
}